<h1 class="text-[24px] font-semibold text-gray-800 mb-4 text-left">An error has ocurred</h1>

<p class="text-red-600 font-semibold">Error message: <%= message %></p>

<div>
    <p class="text-gray-800 font-semibold">Please go back to the initiator and try again.</p>
</div>
<div></div>
