<div>
  <h1 class="text-[20px] text-gray-800 mt-10 mb-6 text-left">
    Sign in to Connect.
  </h1>

  <% if (locals.google) { %>
  <form
    autocomplete="off"
    action="/interaction/<%= uid %>/federated"
    method="post"
  >
    <input type="hidden" name="upstream" value="google" />
    <button type="submit" class="google-button">
      <span class="google-button__icon">
        <svg viewBox="0 0 366 372" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M125.9 10.2c40.2-13.9 85.3-13.6 125.3 1.1 22.2 8.2 42.5 21 59.9 37.1-5.8 6.3-12.1 12.2-18.1 18.3l-34.2 34.2c-11.3-10.8-25.1-19-40.1-23.6-17.6-5.3-36.6-6.1-54.6-2.2-21 4.5-40.5 15.5-55.6 30.9-12.2 12.3-21.4 27.5-27 43.9-20.3-15.8-40.6-31.5-61-47.3 21.5-43 60.1-76.9 105.4-92.4z"
            id="Shape"
            fill="#EA4335"
          />
          <path
            d="M20.6 102.4c20.3 15.8 40.6 31.5 61 47.3-8 23.3-8 49.2 0 72.4-20.3 15.8-40.6 31.6-60.9 47.3C1.9 232.7-3.8 189.6 4.4 149.2c3.3-16.2 8.7-32 16.2-46.8z"
            id="Shape"
            fill="#FBBC05"
          />
          <path
            d="M361.7 151.1c5.8 32.7 4.5 66.8-4.7 98.8-8.5 29.3-24.6 56.5-47.1 77.2l-59.1-45.9c19.5-13.1 33.3-34.3 37.2-57.5H186.6c.1-24.2.1-48.4.1-72.6h175z"
            id="Shape"
            fill="#4285F4"
          />
          <path
            d="M81.4 222.2c7.8 22.9 22.8 43.2 42.6 57.1 12.4 8.7 26.6 14.9 41.4 17.9 14.6 3 29.7 2.6 44.4.1 14.6-2.6 28.7-7.9 41-16.2l59.1 45.9c-21.3 19.7-48 33.1-76.2 39.6-31.2 7.1-64.2 7.3-95.2-1-24.6-6.5-47.7-18.2-67.6-34.1-20.9-16.6-38.3-38-50.4-62 20.3-15.7 40.6-31.5 60.9-47.3z"
            fill="#34A853"
          />
        </svg>
      </span>
      <span class="google-button__text">Sign in with Google</span>
    </button>
  </form>
  <div class="login-help">- or -</div>
  <% } %>

  <form
    autocomplete="off"
    action="/interaction/<%= uid %>/login"
    method="post"
    class="mt-6 lg:mt-10"
  >
    <div class="relative mb-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-400"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5.121 17.804A9.953 9.953 0 0110 16c2.28 0 4.367.802 5.879 2.137
                 M15 7a3 3 0 11-6 0 3 3 0 016 0z"
        />
      </svg>
      <input
        type="text"
        required
        id="email"
        name="login"
        class="w-full border-0 border-b border-gray-300 bg-transparent focus:ring-0 focus:border-gray-400 pl-10 py-2 text-gray-600 placeholder-gray-500 placeholder:text-sm"
        placeholder="USERNAME OR EMAIL"
        required
      />
    </div>

    <div class="relative mb-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-400"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 11c.912 0 1.653-.492 2.072-1.215a3.074 3.074 0 00.586-1.542
               A3.032 3.032 0 0012 5.04 3.032 3.032 0 009.342 8.243a3.074 3.074 0 00.586 1.542
               C10.347 10.508 11.088 11 12 11zm0 2c-2.21 0-4.14.885-5.121 2.196
               C6.363 15.903 6 16.449 6 17.04V19h12v-1.96c0-.59-.363-1.137-.879-1.844
               A7.942 7.942 0 0012 13z"
        />
      </svg>
      <input
        type="password"
        id="password"
        required
        name="password"
        class="w-full border-0 border-b border-gray-300 bg-transparent focus:ring-0 focus:border-gray-400 pl-10 py-2 text-gray-600 placeholder-gray-500 placeholder:text-sm"
        placeholder="PASSWORD"
        required
      />
    </div>

    <div class="mb-4 text-right">
      <a href="#" class="text-[12px] text-gray-500 hover:text-gray-700">
        FORGOT PASSWORD?
      </a>
    </div>

    <button
      type="submit"
      class="login login-submit w-full bg-[<%= layout.buttonColor %>] h-[50px] text-white py-2 transition hover:bg-[<%= layout.buttonHoverColor %>]"
    >
      Sign in
    </button>

    <div class="mt-2 text-[14px] text-center">
      <p class="text-gray-500 text-sm">
        By proceeding, you agree to our use of cookies. Please read our
        <a href="#" class="text-[#168095]">Privacy Policy</a> for more
        information.
      </p>
    </div>
  </form>
</div>

<div class="mt-4 text-gray-400 text-sm text-center">Powered by Raidiam</div>
